.card {
  box-sizing: border-box;
  border: 0.02rem solid;
  border-radius: 3rem 3rem 3rem 3rem / 3rem 3rem 3rem 3rem;
  box-shadow: 0px 0px 6px 1px rgb(205, 200, 187);
  background: #fffdee;
  width: 20rem;
  height: 14.3rem;
  overflow: hidden;
}

.face {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.info-slider {
  box-sizing: border-box;
  width: 19.92rem;
  height: 8.5rem;
  background: rgba(255, 252, 237, 0.37);
  backdrop-filter: blur(0.5rem);
  padding: 0rem 1rem;
  border-radius: 3.2rem 3.2rem 3.2rem 3.2rem / 3.2rem 3.2rem 3.2rem 3.2rem;
  box-shadow: 0px 0px 7px 1px rgb(205, 200, 187);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.name-age {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend-photo {
  border-radius: 20%;
  margin: 1rem auto;
}

a {
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info-slider:hover {
  translate: 0 -5rem;
  transition: all 0.3s;
  height: 100%;
  justify-content: start;
}
