@import "loader.css";
@import "friend-card.css";

.header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 21rem 1fr;
  gap: 1rem;
}

.options-panel {
  background: aqua;
}

.cards-list {
  display: grid;
  gap: 1rem;
}

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1rem;
  gap: 1rem;
}

.pagination-button {
  width: 42.5rem;
}

.friends-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
}
.pagination-left {
}
.pagination-right {
}
