@import "loader.css";
@import "friend-card.css";
@import "pagination.css";
@import "optional-panel.css";

.wrapper {
  display: grid;
  grid-template-columns: 21rem 1fr;
  gap: 1rem;
}

.options-panel {
  background: aqua;
}

.cards-list {
  display: grid;
  gap: 1rem;
}

.friends-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
}
