.optionsl-panel {
}

.searchSortFilterForm {
}

.searchByName {
}

.searchLabel {
}

.sortByAge {
}

.sortByName {
}

.filterByGender {
}

.input {
}

label {
  margin: 0.4rem;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}
