.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1rem;
  gap: 1rem;
}

.pagination-button {
  width: 42.5rem;
}

.hidden {
  visibility: hidden;
}

.pagination-left {
}

.pagination-right {
}
