/* ----------LOADER----------------  */
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: loader linear 0.9900990099009901s infinite;
  background: #93dbe9;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}
.loader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9075907590759075s;
  background: #93dbe9;
}
.loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.825082508250825s;
  background: #93dbe9;
}
.loader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.7425742574257426s;
  background: #93dbe9;
}
.loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6600660066006601s;
  background: #93dbe9;
}
.loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5775577557755776s;
  background: #93dbe9;
}
.loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.495049504950495s;
  background: #93dbe9;
}
.loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4125412541254125s;
  background: #93dbe9;
}
.loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.33003300330033003s;
  background: #93dbe9;
}
.loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.2475247524752475s;
  background: #93dbe9;
}
.loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16501650165016502s;
  background: #93dbe9;
}
.loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08250825082508251s;
  background: #93dbe9;
}
.loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #93dbe9;
}
.loading-spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loader div {
  box-sizing: content-box;
}
/* ------------------------END-LOADER--------------------------  */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex > div {
  margin: 0 1rem 2rem 1rem;
  text-align: center;
}
.options-panel {
}
.friends {
}
img {
  display: inline-block;
  max-width: 100%;
}
